<!--The content below is only a placeholder and can be replaced.-->
<div class="container">
  <div class="row gx-5">
    <div class="col-3 mt-5">
      <div class=" sticky-top "style="padding-top: 1%;">
        <div class="card"  > 
          <div class="card-body gx-5">
            <app-search (productNameSearch) = filterProductBySearchFields($event)></app-search>
          </div>
        </div>
      </div> 
    </div>
    <div class="col-8">
      <div class="container">
        <div class="row" >
          <div class="col" style="max-width: auto" *ngFor="let prod of productsFiltered">
            <app-produto [name]="prod.name" [description]="prod.description" [image]="prod.image" [price]="prod.price">
            </app-produto>
          </div>
          
        </div>  
      </div>  
    </div>
  </div>
</div>



